<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissor</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9C835F;
    ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color:#F9B23D; font-weight:bold">ROCK PAPER SCISSORS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <section class="content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <!-- PLAYER Section -->
                <div class="col">
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="row text-center">
                                <h1>PLAYER 1</h1>
                            </div>
                            <div class="row text-center"> <button class="py-5" id="player_batu"><img
                                        src="assets/batu.png" alt="batu" class="img-game" id="p_batu"></button>
                            </div>
                            <div class="row text-center"><button class="py-5" id="player_gunting"><img
                                        src="assets/gunting.png" alt="gunting" class="img-game" id="p_gunting"></button>
                            </div>
                            <div class="row text-center"><button class="py-5" id="player_kertas"><img
                                        src="assets/kertas.png" alt="kertas" class="img-game" id="p_kertas"></button>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                </div>
                <!-- CENTER CONTENT -->
                <div class="col">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6">
                            <div class="row text-center" style="padding-top: 100px">
                                <div class="col-md-12 bg-success px-5 py-5 results-box" id="container_results">
                                    <h3 class="text-light" id="results">RESULTS</h3>
                                </div>
                            </div>
                            <div class="row text-center game-results">
                                <h1 style="font-weight:bold; font-size:100px; padding-top:50px; color:#BD0000;
                                ">VS</h1>
                            </div>
                            <div class="row text-center" style="padding-top: 200px">
                                <button class="py-4" id="refresh"><img src="./assets/refresh.png" alt="refresh"
                                        class="img-game"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COM Section -->
                <div class="col">
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-md-6">
                            <!-- <h1>COM</h1> -->
                            <div class="row text-center">
                                <h1>COM</h1>
                            </div>
                            <div class="row text-center"> <button class="py-5" id="com_batu"><img
                                        src="./assets/batu.png" alt="batu" class="img-game" id="com_batu"></button>
                            </div>
                            <div class="row text-center"><button class="py-5" id="com_gunting"><img
                                        src="./assets/gunting.png" alt="gunting" class="img-game"
                                        id="com_gunting"></button></div>
                            <div class="row text-center"><button class="py-5" id="com_kertas"><img
                                        src="./assets/kertas.png" alt="kertas" class="img-game"
                                        id="com_kertas"></button></div>
                        </div>
                        <!--Grid column-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>

    <script type="text/javascript">
        class Suit {

            generateRandom(input) {
                //const input = document.getElementById("player_batu");
                //alert(input);

                var min = 1,
                    max = 4
                // find diff
                let difference = max - min;

                // generate random number 
                let rand = Math.random();

                // multiply with difference 
                rand = Math.floor(rand * difference);

                // add with min value 
                rand = rand + min;

                switch (input) {
                    case "1":
                        if (input == rand) {
                            var player = document.getElementById("player_batu");
                            player.classList.add("active");

                            var com = document.getElementById("com_batu");
                            com.classList.add("active");

                            document.getElementById("container_results").style.visibility = "visible";
                            document.getElementById("results").innerText = "DRAW";
                            break;
                        } else if (input == 1 && rand == 2) {
                            var player = document.getElementById("player_batu");
                            player.classList.add("active");

                            var com = document.getElementById("com_gunting");
                            com.classList.add("active");

                            document.getElementById("container_results").style.visibility = "visible";
                            document.getElementById("results").innerText = "Player 1 WIN";
                            break;
                        } else if (input == 1 && rand == 3) {
                            var player = document.getElementById("player_batu");
                            player.classList.add("active");

                            var com = document.getElementById("com_kertas");
                            com.classList.add("active");

                            document.getElementById("container_results").style.visibility = "visible";
                            document.getElementById("results").innerText = "COM WIN";
                            break;
                        }
                        break;
                    case "2":
                        //alert(input)
                        if (input == rand) {
                            var player = document.getElementById("player_gunting");
                            player.classList.add("active");

                            var com = document.getElementById("com_gunting");
                            com.classList.add("active");

                            document.getElementById("container_results").style.visibility = "visible";
                            document.getElementById("results").innerText = "DRAW";
                            break;
                        } else if (input == 2 && rand == 1) {
                            var player = document.getElementById("player_gunting");
                            player.classList.add("active");

                            var com = document.getElementById("com_batu");
                            com.classList.add("active");

                            document.getElementById("container_results").style.visibility = "visible";
                            document.getElementById("results").innerText = "COM WIN";
                            break;
                        } else if (input == 2 && rand == 3) {
                            var player = document.getElementById("player_gunting");
                            player.classList.add("active");

                            var com = document.getElementById("com_kertas");
                            com.classList.add("active");

                            document.getElementById("container_results").style.visibility = "visible";
                            document.getElementById("results").innerText = "Player 1 WIN";
                            break;
                        }
                        break;
                    case "3":
                        if (input == rand) {
                            var player = document.getElementById("player_kertas");
                            player.classList.add("active");

                            var com = document.getElementById("com_kertas");
                            com.classList.add("active");

                            document.getElementById("container_results").style.visibility = "visible";
                            document.getElementById("results").innerText = "DRAW";
                            break;
                        } else if (input == 3 && rand == 2) {
                            var player = document.getElementById("player_kertas");
                            player.classList.add("active");

                            var com = document.getElementById("com_gunting");
                            com.classList.add("active");

                            document.getElementById("container_results").style.visibility = "visible";
                            document.getElementById("results").innerText = "COM WIN";
                        } else if (input == 3 && rand == 1) {
                            var player = document.getElementById("player_kertas");
                            player.classList.add("active");

                            var com = document.getElementById("com_batu");
                            com.classList.add("active");

                            document.getElementById("container_results").style.visibility = "visible";
                            document.getElementById("results").innerText = "Player 1 WIN";
                        }
                        break;
                }
            }

            refreshElement() {
                //Player
                var p_batu = document.getElementById("player_batu");
                p_batu.classList.remove("active");
                var p_gunting = document.getElementById("player_gunting");
                p_gunting.classList.remove("active");
                var p_kertas = document.getElementById("player_kertas");
                p_kertas.classList.remove("active");

                //Com
                var com_batu = document.getElementById("com_batu");
                com_batu.classList.remove("active");
                var com_gunting = document.getElementById("com_gunting");
                com_gunting.classList.remove("active");
                var com_kertas = document.getElementById("com_kertas");
                com_kertas.classList.remove("active");

                //Refresh Results
                document.getElementById("container_results").style.visibility = "hidden";
                document.getElementById("results").innerText = "RESULTS";
            };
        }

        const suit = new Suit();

        document.getElementById("p_batu").onclick = () => suit.generateRandom("1")
        document.getElementById("p_gunting").onclick = () => suit.generateRandom("2")
        document.getElementById("p_kertas").onclick = () => suit.generateRandom("3")

        document.getElementById("refresh").onclick = suit.refreshElement
    </script>
</body>

</html>